<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div>

            <h1><a href ='{% url 'todo_list_list' %}'> list </a></h1>

            <h2> Tasks</h2>
            <table>
                    <th> Task </th>
                    <th> Due Date </th>

                    {% for task in list_detail %}
                        <tr>
                            <td> <a href="{% url 'todo_list_list' %}">{{task}}</a> </td>
                            <td> {{task.due_date}}</td>
                        </tr>
                    {% endfor %}
            </table>
        </div>
    </main>
</body>
</html>
