<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div><h1>My Lists</h1></div>
        <div> <p> <a href="{% url 'todo_list_create' %}"> Create a new list </a></p></div>
        <table>
            <tr>
                <th> Name </th>
                <th> Number of items</th>
            </tr>

            <tbody>
                {% for names in list %}

                <tr>
                    <td>
                        <a href = "{% url 'todo_list_detail' names.id %}"> {{names}} </a>
                    </td>
                    <td>
                        {{names.items.all|length}}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>
</html>
